/* Vazirmatn font loaded from packaged files (no CDN). */
@import "~@fontsource/vazirmatn/300.css";
@import "~@fontsource/vazirmatn/400.css";
@import "~@fontsource/vazirmatn/500.css";
@import "~@fontsource/vazirmatn/600.css";
@import "~@fontsource/vazirmatn/700.css";
